@CHARSET "UTF-8";

html {
    height:100%;
    padding-bottom:1px;
}

body {
    background-color:#f9f9f9;
    color:#444;
    font:normal 85% sans-serif;
    line-height:1.5;
}

hr {display:none;}

h1 {border-bottom:3px solid #ddd;}

img {
    border:0;
    vertical-align:top;
}

div.book, div.part, div.chapter, div.section{
    background-color:#FFF;
    border:1px solid #ddd;
    padding:1em;
}

div.section div.section{
    border:none;
    padding:0;
}

table.doctable {
    border:1px solid #eee;
    border-spacing:1px;
    margin-bottom:2em;
    text-align: left;
}

table.doctable th, table.doctable td {padding:2px;}

table.doctable th {
    background:#e6e6e6;
    border:1px solid #ddd;
    color:#555;
    font-weight:bold;
}

table.doctable td {
    background:#f6f6f6;
    border:1px solid #e6e6e6;
}

div.example {
    background: #e6e6e6;
    border:1px solid #ddd;
    padding:0 1em;
    margin:1em 0 1em 1em;
}

pre.programlisting {
    background: #f6f6f6;
    padding: 0.5em 0.5em 0.5em 1.5em;
    margin-bottom:1em;
    border:1px solid #e6e6e6;
    font-family:monospace;
}

blockquote {
    border:1px solid #e6e6e6;
    background:#eee;
    padding:0.5em 3em;
    margin:2em;
}
